<div id="clickbox-widget" class="telll-clickbox-widget telll-widget">
<div class="clickbox-titlebar widget-titlebar">
<span class="dashboard-title">Clickbox</span>
<button class="close">Close</button> 
</div>

<div id="clickbox">
	<p>This device didn't receive any photolink yet. To send a photolink click on the labels at movie screen. You can send clicking on flashiing logo at right down or at photolinks list on the bottom of screen. The photolinks will be sent to this dialog and to any device connected to telll also. Enjoy!
</div>
</div><!-- end clickbox-widget -->
