#telll-dashboard-frame{
border: solid 1px black;
width: 80%;
background: white;
color: black;
margin: auto;
}
.dashboard-panel{
display:none;
border: solid 1px black;
margin: auto;
min-width: 560px;
max-width: 620px;
width: 590px;
margin-bottom:12px;
}
#tell-dashboard-menu{
margin-bottom:12px;
clear: both;
font-size: 100%;
border-color: #000000;
border-width: 1px 0 0 0;
border-style: solid none none none;
padding: 10px;
margin: 0 0 0 0;
}
.dashboard-title{
font-size: 130%;
font-weight: normal;
color: #000000;
margin: 0 0 0 0;
}
#telll-dashboard-titlebar{
}
.dashboard-titlebar{
margin-bottom:12px;
clear: both;
font-size: 100%;
border-color: #000000;
border-width: 1px 0 0 0;
border-style: solid none none none;
padding: 10px;
margin: 0 0 0 0;
background: black;
}
.dashboard-titlebar .dashboard-title{
color:grey;
}
.dashboard-titlebar #close-button,
.dashboard-titlebar button
{
float:right;
margin-right: 3px;
}
#tell-dashboard-menu li {
list-style-type: none;
cursor:pointer;
display: inline;
margin-right: 12px;
}
fieldset.dashboard-fieldset{
padding: 20px;
margin-bottom: 20px;
}
div.time-dialog{
color: white;
position: absolute;
top: 50%;
left: 45%;
padding: 5px;
background: black;
border: 2px solid grey;
border-radius: 8px
}
img#movie-image {
width:285px;
}
