.telll-login-widget{
font-size: 100%;
min-width: 560px;
max-width: 620px;
width: 590px;
background: #000;
margin: auto;
padding: 10px;
background: #000;
}
span.red{
color:#ff0000;
}
span.green{
color:#00FF00;
}
span.blue{
color:#0000FF;
}
.welcome{
margin-top:20px;
margin-bottom:50px;
font-size:28px;
}

