<div class="telll-movies-list-widget">

<div class="movies-list-titlebar widget-titlebar">
    <span class="widget-title">Movies on telll</span>
    <div class="logo-86x86"></div>
    <button class="close">Close</button> 
</div>

    <div id="telll-movies-list-frame">

{{#movies}}
<div class="telll-movie-element">
   <div class="movie-label">
	<span class="movie-title">{{title}}</span>
	<span class="movie-description">{{description}}</span>
   </div>
   <img class="movie-thumb" src="{{image}}" data='{"id":"{{id}}","title":"{{title}}"}'/>
</div>
{{/movies}}

    </div> <!-- end telll-movies-list-frame -->

    <div class="buttons">
    </div> <!-- end buttons -->
<div id="list-ok"></div>
</div>
