<div class="telll-movies-list-widget">


<div class="logo-86x86"></div>

        <div id="telll-movies-list-frame">

<form name="list_form" id="telll-login">
<select name="telll-select-movie" id="select-movie">
<option value="0">007 Cassino Royalle</option>
<option value="1">Rihanna</option>
<option value="2">Ocean 13</option>
<option value="3">Other ...</option>
</select>
</form>
         </div> <!-- end telll-login-frame -->

         <div class="buttons">
        </div> <!-- end buttons -->
<div id="list-ok"></div>
</div><!-- telll-movies-list-widget -->
